<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{30}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Только важные логи -->
    <logger name="com.dojo.jsonplaceholder" level="INFO"/>

    <!-- Отключаем логи RestAssured (они будут через наш фильтр) -->
    <logger name="io.restassured" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>