name: Java Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Setup Gradle
        run: chmod +x ./gradlew
          
      - name: Run Tests
        run: ./gradlew :public-apis:jsonplaceholder:test
          
      - name: Upload Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports
          path: public-apis/jsonplaceholder/build/reports/
